.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(15, 28, 35, 0.85);
    position: relative;
    z-index: 1;
}

.content-wrap {
    flex: 1;
    position: relative;
    z-index: 1;
}
